<footer>

    <div class="back-to-top-btn">
        <a href="#top" aria-label="back to the top of the page">&uarr;</a>
    </div>

    <section class="footer-socials">
    {% include "partials/socials.html" %}
    </section>

    <p>Made by <a href="https://aenore.fr/" target="_blank" rel="noopener noreferrer">Aenore</a> and <a href="https://linktr.ee/maikoheart" target="_blank" rel="noopener noreferrer">Ruby</a> with &heartsuit;</p>

    <p><a href="{{ "credits.md" | inputPathToUrl }}" data-prefetch>Credits and attribution</a></p>

    <p>Source on <a href="https://codeberg.org/aenore/truthin32bit" target="_blank" rel="noopener noreferrer"> Codeberg <img src="https://design.codeberg.org/logo-kit/icon.svg" alt="Codeberg logo"></a> under <a href="https://www.gnu.org/licenses/quick-guide-gplv3.html" target="_blank" rel="noopener noreferrer">GPLv3 <img src="https://www.gnu.org/graphics/gplv3-88x31.png" alt="GPLv3 icon"></a></p>

    <p>Machine descriptions written by <a href="https://linktr.ee/maikoheart" target="_blank" rel="noopener noreferrer">Ruby</a> under <a target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" data-i18n="artlicense2">CC BY-NC-SA <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="Creative Commons"><img src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="Attribution icon"><img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt="Non commercial icon"><img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="Share alike icon"></a>; pictures remain property of their authors under their chosen license.</p>

    <p>Do not use to feed generative algorithms.</p>

</footer>
